﻿
@model litium_studio_test_app.Interfaces.CategoryPageViewModel
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/SiteTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/price-range.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/animate.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/main.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/responsive.css" rel="stylesheet">
   
</head>
<body>
    <header id="header">
        <div class="header_top">
           
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container">
                <div class="row">

                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
                                <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Products</li>
                </ol>
            </div>
            <div class="row">
                

                <div class="col-sm-12 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">Features Items</h2>
                        <div class="">
                            <div class="product-image-wrapper">
                                <div class="single-products row">


                                    @foreach (var item in Model.ProductList)
                                    {
                                        {
                                            ViewBag.imgurl = item.Images.Select(x => x.Url).FirstOrDefault();
                                        }
                                        <div class="productinfo text-center col-sm-4">

                                            <div class="item-image">
                                                <img src="@Url.Content(@ViewBag.imgurl)" alt="No Images available">
                                            </div>
                                            
                                            <h2>@Math.Round(item.ProductPrice, 2)</h2>
                                            <p>@item.Name</p>
                                            <a class='shopBtn' href='@item.Url'>VIEW</a>
                                            @*<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>*@
                                        </div>
                                    }


                                    @*<div class="productinfo text-center">
                                        <h2>$56</h2>
                                        <p>Easy Polo Black Edition</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                    </div>*@
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/SiteTemplate/js/jquery.js"></script>
    <script src="~/SiteTemplate/js/bootstrap.min.js"></script>
    <script src="~/SiteTemplate/js/jquery.scrollUp.min.js"></script>
    <script src="~/SiteTemplate/js/price-range.js"></script>
    <script src="~/SiteTemplate/js/jquery.prettyPhoto.js"></script>
    <script src="~/SiteTemplate/js/main.js"></script>
    <style>
        .product-overlay {
            max-height: 250px;
        }
        .item-image{
            min-height: 405px;
        }
    </style>
</body>
</html>
