﻿@model litium_studio_test_app.ViewModels.CartItemViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | Trends !</title>
    <link href="~/SiteTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/price-range.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/animate.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/main.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/SiteTemplate/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/SiteTemplate/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/SiteTemplate/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/SiteTemplate/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="~/SiteTemplate/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    USA
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">Canada</a></li>
                                    <li><a href="">UK</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    DOLLAR
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">Canadian Dollar</a></li>
                                    <li><a href="">Pound</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i> Account</a></li>
                                <li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a href="cart.html" class="active"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->

    <section id="cart_items">
        <div class="container">
            <input type="button" style="margin-left:0px !important" id="continueShopping" class="btn btn-fefault cart" value="Back To Search Results" />
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Item</td>
                            <td class="description"></td>
                            <td class="price">Price</td>
                            <td class="quantity">Quantity</td>
                            <td class="total">Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.LstProductViewModels != null)
                        {
                            foreach (var item in Model.LstProductViewModels)
                            {
                                if (Model.LstProductViewModels != null)
                                {
                                    ViewBag.imgurl = item.Images.Select(x => x.Url).FirstOrDefault();
                                }
                                <tr>
                                    <td class="cart_product">
                                        <a href=""><img src="@Url.Content(@ViewBag.imgurl)" alt="No Images available"></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@item.Name</a></h4>
                                        <p>@item.Id</p>
                                    </td>
                                    <td class="cart_price">
                                        <p>@Math.Round(item.ProductPrice, 2)</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            @*<a class="cart_quantity_up" href=""> + </a>*@
                                            <span class="cart_quantity_down" onclick="QuantityDown()"> - </span>
                                            <span class="cart_quantity_up" onclick="QuantityUp()"> + </span>
                                            <input class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2">
                                            @*<a class="cart_quantity_down" href=""> - </a>*@
                                            <span class="cart_quantity_down" onclick="QuantityDown()"> - </span>
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">@Math.Round(item.ProductPrice, 2)</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    No item in the cart !
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>What would you like to do next?</h3>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="chose_area">
                        <ul class="user_option">
                            <li>
                                <input type="checkbox">
                                <label>Use Coupon Code</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Use Gift Voucher</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Estimate Shipping & Taxes</label>
                            </li>
                        </ul>
                        <ul class="user_info">
                            <li class="single_field">
                                <label>Country:</label>
                                <select>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field">
                                <label>Region / State:</label>
                                <select>
                                    <option>Select</option>
                                    <option>Dhaka</option>
                                    <option>London</option>
                                    <option>Dillih</option>
                                    <option>Lahore</option>
                                    <option>Alaska</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field zip-field">
                                <label>Zip Code:</label>
                                <input type="text">
                            </li>
                        </ul>
                        <a class="btn btn-default update" href="">Get Quotes</a>
                        <a class="btn btn-default check_out" href="">Continue</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            @foreach (var item in Model.LstProductViewModels)
                            {
                                <li>Cart Sub Total <span>@Math.Round(item.ProductPrice, 2)</span></li>
                                <li>Eco Tax <span>@Math.Round(item.ProductPrice, 2)</span></li>
                                <li>Shipping Cost <span>Free</span></li>
                                <li>Total <span>@Math.Round(item.ProductPrice, 2)</span></li>
                            }
                        </ul>
                        <a class="btn btn-default update" href="">Update</a>
                        <a class="btn btn-default check_out" href="">Check Out</a>
                        @*<a id="totalCartItems" style="margin-left: 10px" class="btn btn-default check_out" href='@string.Format(@Model.ProductViewModel.Url +"?checkout={0}", "getCart")'> Check Out</a>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/SiteTemplate/js/jquery.js"></script>
    <script src="~/SiteTemplate/js/bootstrap.min.js"></script>
    <script src="~/SiteTemplate/js/jquery.scrollUp.min.js"></script>
    <script src="~/SiteTemplate/js/jquery.prettyPhoto.js"></script>
    <script src="~/SiteTemplate/js/main.js"></script>
    <script>
        function QuantityUp() {
            //debugger;
            var articleNumber = $('#vId').val();
            var quantity = $('#itemQuantity').val();
            $.ajax({
                type: "get",
                url: "/AddItem",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { articleNumber: articleNumber, quantity: quantity },
                success: function (response) {
                    $('#totalCartItems').html(response.items.length + " Item(s) -" + "$ " + response.totalProductPrice);
                },
                error: function () {
                    alert("error + 1111");
                }
            });
        }

        function QuantityDown() {
            //debugger;
            var articleNumber = $('#vId').val();
            var quantity = 1;
            $.ajax({
                type: "get",
                url: "/RemoveItem",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { articleNumber: articleNumber},//, quantity: quantity },
                success: function (response) {
                    $('#totalCartItems').html(response.items.length + " Item(s) -" + "$ " + response.totalProductPrice);
                },
                error: function () {
                    alert("error + 1111");
                }
            });
        }    </script>
    <style>
        .cart_quantity_down,
        .cart_quantity_up{
            cursor:pointer;
        }
    </style>
</body>
</html>