﻿@model litium_studio_test_app.ViewModels.CustomerViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | Trends !</title>
    <link href="~/SiteTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/price-range.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/animate.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/main.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/SiteTemplate/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/SiteTemplate/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/SiteTemplate/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/SiteTemplate/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/SiteTemplate/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <header id="header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            @*<a href="index.html"><img src="images/home/logo.png" alt="" /></a>*@
                        </div>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    USA
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">Canada</a></li>
                                    <li><a href="">UK</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    DOLLAR
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="">Canadian Dollar</a></li>
                                    <li><a href="">Pound</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i> Account</a></li>
                                <li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="login.html" class="active"><i class="fa fa-lock"></i> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->
    </header><!--/header-->

    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <h2>Login to your account</h2>
                        <form action="#">
                            <input type="text" placeholder="Name" />
                            <input type="email" placeholder="Email Address" />
                            <span>
                                <input type="checkbox" class="checkbox">
                                Keep me signed in
                            </span>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-1">
                    <h2 class="or">OR</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form marginStyle">
                        <h2>New User Signup!</h2>                       
                        <span>
                            <br />
                            <br /><br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </span>
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Signup</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign up to Trends !</h4>
                </div>
                <div class="modal-body">

                    @using (Html.BeginForm("AddNewCustomer", "Customer", FormMethod.Post))
                    {
                        <div class="col-sm-7">
                            @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control", @required = "required", @placeholder = "First Name" })
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(p => p.SurName, new { @class = "form-control", @required = "required", @placeholder = "Sur Name" })
                        </div>
                        @*<div class="col-sm-7">
                            @Html.TextBoxFor(p => p.Address1, new { @class = "form-control", @required = "required", @placeholder = "Address1" })
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(p => p.Address2, new { @class = "form-control", @required = "required", @placeholder = "Address2" })
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(p => p.Zip, new { @class = "form-control", @required = "required", @placeholder = "Zip" })
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(p => p.City, new { @class = "form-control", @required = "required", @placeholder = "City" })
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(p => p.State, new { @class = "form-control", @required = "required", @placeholder = "State" })
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(p => p.Country, new { @class = "form-control", @required = "required", @placeholder = "Coutry" })
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control", @required = "required", @placeholder = "Email" })
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(p => p.PhoneNumber, new { @class = "form-control", @required = "required", @placeholder = "Phone number" })
                        </div>*@
                        @*<div class="col-sm-7">
                                @Html.TextBoxFor(p => p.IsCheckout, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>*@
                        @*<div class="col-sm-7">
                                @Html.r(p => p.HasAlternateDeliveryAddress, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>*@
                        @*<div class="col-sm-7">
                                @Html.TextBoxFor(p => p.FirstNameAlternate, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(p => p.SurNameAlternate, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(p => p.Address1Alternate, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(p => p.Address2Alternate, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(p => p.ZipAlternate, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(p => p.CityAlternate, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(p => p.StateAlternate, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(p => p.IsClubMember, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(p => p.NeedNewsletter, new { @class = "form-control", @required = "required", @placeholder = "" })
                            </div>*@
                        <div class="modal-footer">
                            <button class="btn btn-success text-capitalize jsSaveNewCustomer" type="submit">Sign up</button>
                            <button class="btn btn-danger text-capitalize" data-dismiss="modal">Cancel</button>
                        </div>
                    }

                  
                </div>
            </div>
        </div>
    </div>
    <div class="loader-wrap loaderHide">
        <div class="loader">
            <div class="cube">
                <div class="side side1"></div>
                <div class="side side2"></div>
                <div class="side side3"></div>
                <div class="side side4"></div>
                <div class="side side5"></div>
                <div class="side side6"></div>
            </div>
        </div>
    </div>

    <script src="~/SiteTemplate/js/jquery.js"></script>
    <script src="~/SiteTemplate/js/price-range.js"></script>
    <script src="~/SiteTemplate/js/jquery.scrollUp.min.js"></script>
    <script src="~/SiteTemplate/js/bootstrap.min.js"></script>
    <script src="~/SiteTemplate/js/jquery.prettyPhoto.js"></script>
    <script src="~/SiteTemplate/js/main.js"></script>


    <style>
        .btnStyle {
            color: white;
            background: #FE980F;
        }

        .marginStyle {
            margin-left: 200px;
        }
    </style>
</body>
</html>