﻿@model litium_studio_test_app.ViewModels.CartItemViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twitter Bootstrap shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <link href="~/SiteTemplate/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Customize styles -->
    <link href="~/SiteTemplate/assets/css/style.css" rel="stylesheet" />
    <!-- font awesome styles -->
    @*<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">*@
    <link href="~/SiteTemplate/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!--[if IE 7]>
        <link href="css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>+
    <![endif]-->
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/SiteTemplate/assets/ico/favicon.ico">
    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('.shopBtn').click(function() {
                var articleNumber = $(this).closest('tr').find('td').find('input[type="hidden"]').val();
                if (articleNumber == null) {
                    window.location.href =
                        //"http://hareesh-litium-test/!3f78081b-90ad-41de-99c4-ee3207965aa9/productlisting1";
                        "http://hareesh-litium-test/productlisting1";
                } else {
                    deleteFromCart(articleNumber);
                }
               
            });

        });

        function deleteFromCart(articleNumber) {
         
            $.ajax({
                type: "GET",
                url: "http://hareesh-litium-test/RemoveItem/"+ articleNumber,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var x = response;
                    @*window.location.href = @string.Format("http://hareesh-litium-test/!3f78081b-90ad-41de-99c4-ee3207965aa9/productlisting1/redme?method={0}", "getCart");*@
                    //window.location.href = "http://hareesh-litium-test/!3f78081b-90ad-41de-99c4-ee3207965aa9/productlisting1/redme?method={getCart}";
                    window.location.href = "http://hareesh-litium-test/productlisting1/redme?method={getCart}";


                },
                error: function () {
                    alert("error");
                }
            });

        }

    </script>

</head>




<body>
<!-- 
Upper Header Section 
-->


<!--
Lower Header Section 
-->
<div class="container">
    <div id="gototop"> </div>


    <!--
    Navigation Bar Section 
    -->
    @*<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class=""><a href="index.html">Home	</a></li>
                    <li class=""><a href="list-view.html">List View</a></li>
                    <li class=""><a href="grid-view.html">Grid View</a></li>
                    <li class=""><a href="three-col.html">Three Column</a></li>
                    <li class=""><a href="four-col.html">Four Column</a></li>
                    <li class=""><a href="general.html">General Content</a></li>
                </ul>
                <form action="#" class="navbar-search pull-left">
                    <input type="text" placeholder="Search" class="search-query span2">
                </form>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span> Login <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <form class="form-horizontal loginFrm">
                                <div class="control-group">
                                    <input type="text" class="span2" id="inputEmail" placeholder="Email">
                                </div>
                                <div class="control-group">
                                    <input type="password" class="span2" id="inputPassword" placeholder="Password">
                                </div>
                                <div class="control-group">
                                    <label class="checkbox">
                                        <input type="checkbox"> Remember me
                                    </label>
                                    <button type="submit" class="shopBtn btn-block">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>*@
    <!-- 
    Body Section 
    -->
    <br/>
    <br/>
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="http://hareesh-litium-test/">Start</a> <span class="divider">/</span></li>
                <li><a href="http://hareesh-litium-test/productlisting1/">Home</a> <span class="divider">/</span></li>
                <li><a href="http://hareesh-litium-test/productlisting1/redme">Shop All</a> <span class="divider">/</span></li>
            </ul>
        
       
            <div class="well well-small">
                @*<h1>My Cart <small class="pull-right">@Model.LstProductViewModels.Count()</small></h1>*@
                <h1>Order Summary<span style="color:orange"> @Model.LstProductViewModels.Count() item(s)</span></h1>
                <hr class="soften"/>	

                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.LstProductViewModels)
                    {
                        <tr>
                            @{
                                ViewBag.imgurl = item.Images.Select(x => x.Url).FirstOrDefault();
                            }
                     
                            <td><input type="hidden" value="@item.Id"/></td>
                            <td><img width="100" src="@Url.Content(@ViewBag.imgurl)" alt=""></td>
                       
                            <td>@item.Name</td>
                            <td>quantity</td>
                            <td>$@Math.Round(item.ProductPrice,2)</td>
                            <td>$@Math.Round(item.ProductPrice,2)</td>

                      
                        </tr>

                    }                

                    </tbody>
                </table><br/>
		
                @*<input type="button" class="shopBtn btn-large" value="Continue Shopping" />
                <a href="http://hareesh-litium-test/productlisting1/redme?process={orderSummary}" class="shopBtn btn-large pull-right">Place Order <span class="icon-arrow-right"></span></a>*@ 
               
            </div>
            
            <div class="well well-small">
                @*<h1>My Cart <small class="pull-right">@Model.LstProductViewModels.Count()</small></h1>*@
                <h1>Delivery Address</h1>
                <hr class="soften" />

                <table class="table table-bordered table-condensed">
                    <tr>
                        <td>
                            <div class="span4">
                                <h4>Email Us</h4>
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="control-group">

                                            <input type="text" placeholder="Name" class="input-xxlarge"/>

                                        </div>
                                        <div class="control-group">
                                            <textarea rows="3" id="textarea" placeholder="Address"  class="input-xxlarge"></textarea>

                                        </div>
                                        <div class="control-group">

                                            <input type="text" placeholder="Mobile Number" class="input-xxlarge"/>

                                        </div>
                                 
                                        <div class="control-group">

                                            <input type="text" placeholder="Email" class="input-xxlarge"/>

                                        </div>
                                  

                                        <button class="shopBtn" type="submit">Send email</button>

                                    </fieldset>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table><br />

                @*<input type="button" class="shopBtn btn-large" value="Continue Shopping" />
            <a href="http://hareesh-litium-test/productlisting1/redme?process={orderSummary}" class="shopBtn btn-large pull-right">Place Order <span class="icon-arrow-right"></span></a>*@

            </div>
            
            
            <div class="well well-small">
                @*<h1>My Cart <small class="pull-right">@Model.LstProductViewModels.Count()</small></h1>*@
                <h1>Payment Method</h1>
                <hr class="soften" />

                <table class="table table-bordered table-condensed">
                    <tr>
                        <td>
                            <div class="span4">
                                <table>
                                    <tr>
                                        <td>Logo</td>
                                        <td>Total:</td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Amount Payable</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table><br />

                @*<input type="button" class="shopBtn btn-large" value="Continue Shopping" />
            <a href="http://hareesh-litium-test/productlisting1/redme?process={orderSummary}" class="shopBtn btn-large pull-right">Place Order <span class="icon-arrow-right"></span></a>*@

            </div>
            
            

        </div>
    </div>
    <!-- 
    Clients 
    -->


    <!--
    Footer
    -->

</div><!-- /container -->

@*<div class="copyright">
    <div class="container">
        <p class="pull-right">
            <a href="#"><img src="assets/img/maestro.png" alt="payment"></a>
            <a href="#"><img src="assets/img/mc.png" alt="payment"></a>
            <a href="#"><img src="assets/img/pp.png" alt="payment"></a>
            <a href="#"><img src="assets/img/visa.png" alt="payment"></a>
            <a href="#"><img src="assets/img/disc.png" alt="payment"></a>
        </p>
        <span>Copyright &copy; 2013<br> bootstrap ecommerce shopping template</span>
    </div>
</div>*@
<a href="#" class="gotop"><i class="icon-double-angle-up"></i></a>
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.easing-1.3.min.js"></script>
<script src="assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="assets/js/shop.js"></script>
</body>
</html>
