﻿@model litium_studio_test_app.ViewModels.ProductPageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            getCart();
            $('.defaultBtn').click(function () {
                $('.defaultBtn').removeClass("active");
                $(this).addClass("active");
                if ($('#addtoCart').is(':disabled')) {
                    $('#addtoCart').prop('disabled', false);

                    var variantId = $(this).closest("div").prop("id");
                    var model = new Object();
                    model.Id = variantId;
                    $.ajax({
                        type: "post",
                        url: "/varaint",
                        data: JSON.stringify(model),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            //$('#vId').html(response.id);
                            $('#vId').val(response.id);
                            $('#vName').html(response.name);
                            $('#vDescription').html(response.description);
                            $('#vInternalMemeory').html(response.internalMemory);
                            $('#vSpec').html(response.specification);
                            $('#vColour').html(response.variantBaseColor);
                            $('#vItemPrice').html("$ " + response.variantItemPrice.toFixed(2));
                            //$('#phoneImg').src(response.images[0].url);
                            $("#phoneImg").attr("src", response.images[0].url);
                            //msg.images[0].url
                        }
                    });
                }
            });

            $('#continueShopping').click(function () {
                window.location.href = "/productlisting1";
            });

            $('#addtoCart').click(function () {
                addToCartAndGetCart();
            });


            function addToCartAndGetCart() {
                //debugger;
                var articleNumber = $('#vId').val();
                var quantity = $('#itemQuantity').val();
                $.ajax({
                    type: "get",
                    url: "/AddItem",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { articleNumber: articleNumber, quantity: quantity },
                    success: function (response) {
                        //$('#totalCartItems').html(response.items.length + " Item(s) -" + "$ " + response.totalProductPrice);
                        getCart();
                    },
                    error: function () {
                        alert("error + 1111");
                    }
                });
            }

            function getCart() {
                //debugger;
                //alert("FGFFFf");
                var url = "/GetCart";
                $.ajax({
                    type: "get",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        debugger;
                       // alert(response.items.length);
                       // alert(response.totalProductPrice);
                        $('#totalCartItems').html(response.items.length + " Item(s) -" + "$ " + response.totalProductPrice);
                    },
                    error: function () {
                        alert("error");
                    }
                });
            }
        });

    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Product Details | Trends !</title>
    <link href="~/SiteTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/price-range.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/animate.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/main.css" rel="stylesheet">
    <link href="~/SiteTemplate/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/SiteTemplate/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/SiteTemplate/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/SiteTemplate/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/SiteTemplate/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/SiteTemplate/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <header id="header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-middle">
            <div class="container">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li class="active">Add to Cart</li>
                    </ol>
                </div>
                <div class="row">
                    <div class="active pull-right">
                        <a style="margin-left: 10px" class="btn btn-fefault cart" href='@string.Format(@Model.ProductViewModel.Url +"?method={0}", "getCart")'>
                            <div id="totalCartItems" class="badge badge-warning cart"></div>
                        </a>

                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i> Account</a></li>
                                <li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a href="cart.html" class="active"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <input type="button" id="continueShopping" class="btn btn-fefault cart" value="Back To Search Results" />
                        @*<div class="mainmenu pull-left">
                                <ul class="nav navbar-nav collapse navbar-collapse">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="dropdown">
                                        <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                        <ul role="menu" class="sub-menu">
                                            <li><a href="shop.html">Products</a></li>
                                            <li><a href="product-details.html" class="active">Product Details</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="login.html">Login</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                        <ul role="menu" class="sub-menu">
                                            <li><a href="blog.html">Blog List</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </div>*@
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="product-details">
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="images/product-details/1.jpg" alt="" />
                    @*<h3>ZOOM</h3>*@
                </div>
                <div id="similar-product" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    @*<div class="carousel-inner">
                            <div class="item active">
                                <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                                <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                                <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                                <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                                <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                                <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                                <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                            </div>

                        </div>*@

                    <!-- Controls -->
                    @*<a class="left item-control" href="#similar-product" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right item-control" href="#similar-product" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>*@
                </div>

            </div>
            <div class="col-sm-7">
                <div class="product-information">

                    @if (Model.ProductViewModel.Images != null)
                    {
                        <div class="item active">

                            @{
                                ViewBag.imgurl = Model.ProductViewModel.Images.Select(x => x.Url).FirstOrDefault();
                            }
                            <img class="newarrival" src="@Url.Content(@ViewBag.imgurl)" alt="No Images available">
                            <h2>@Model.ProductViewModel.Name</h2>
                            <p>@Model.ProductViewModel.Id</p>
                            <p style="visibility:hidden"><input id="vId" type="hidden" value="@Model.ProductViewModel.Id" /></p>

                            <img src="images/product-details/rating.png" alt="" />
                            <span>
                                <span>@Model.ProductViewModel.ProductPrice</span>
                                <label>@Model.ProductViewModel.ProductQualityText:</label>
                                <input type="text" id="itemQuantity" value="1" />
                                <button type="button" id="addtoCart" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </button>
                            </span>
                            <p><b>Availability:</b> @Model.ProductViewModel.StockStatusDescription</p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Brand:</b> @Model.ProductViewModel.Description</p>
                            <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>

                        </div>
                                }
                </div>
                <a id="continueShopping" style="margin-left: 10px" class="btn btn-fefault cart" href='@string.Format(@Model.ProductViewModel.Url +"?method={0}", "getCart")'> Continue Shopping</a>
                <a id="totalCartItems" style="margin-left: 10px" class="btn btn-fefault cart" href='@string.Format(@Model.ProductViewModel.Url +"?method={0}", "getCart")'> Check Out</a>
            </div>
        </div>
    </div>
    <script src="~/SiteTemplate/js/jquery.js"></script>
    <script src="~/SiteTemplate/js/price-range.js"></script>
    <script src="~/SiteTemplate/js/jquery.scrollUp.min.js"></script>
    <script src="~/SiteTemplate/js/bootstrap.min.js"></script>
    <script src="~/SiteTemplate/js/jquery.prettyPhoto.js"></script>
    <script src="~/SiteTemplate/js/main.js"></script>
</body>
</html>
